
<style>
.box
{
  padding:70px; 
}
</style>
<head>
    <link href="css/ionic.css" rel="stylesheet">
</head>

<ion-view view-title="Mathematics">
    <ion-content>
       <ion-list>
        <div class="list card">
            <div ng-repeat="module in modules">
                <ion-item class="item-stable"
                    ng-click="toggleGroup(module)"
                    ng-class="{active: isGroupShown(module)}">
                    <i class="icon" ng-class="isGroupShown(module) ? 'ion-minus' : 'ion-plus'"></i>
                    {{module.title}}
                </ion-item>

                <ion-item class="item-accordion" ng-repeat="lo in module.LOS" 
                          ng-show="isGroupShown(module)">
                      <div class="row">
                            <a  ng-click="openModal(lo.content)">{{lo.lo}}</a>
                      </div>
                <ion-item>
                    <div class="box" >
                    <ion-content  ng-controller="MediaCtrl">
                        <br>

                      <div class="item item-divider">
                          <i class="ion-images"></i>
                          Recommended content
                      </div>

                      <a class="item item-list-detail">
                          <ion-scroll direction="x">
                              <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
                          </ion-scroll>
                      </a>

          
                      <div class="button-bar">
                        <button class="button button-outline button-positive" ng-click="playVideo()">Play a video</button>
                  </div>
                    </ion-content>
                </div>
              </ion-item>
            </ion-item>
            </div>
          </div>
      </ion-list>
    </ion-content>
</ion-view>