
  <head>
    <!-- styles -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/stickys.css" />
  </head>

 <ion-nav-view> 
   <ion-view>
 <ion-content>

    
    
    <!-- Navigation, User Control Panel--> 
    
      
      
      
  

    <!-- the notes -->
    <ul class="clearfix" id="notesContainer">
      <li ng-repeat="note in notes track by $index" class="aNote" id="{{ note.date }}" my-post-repeat-directive>
        <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
        <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.date)"></a></p>
        <h1>{{ note.title }}</h1>
        <p class="noteDate">{{ note.date | date:'EEE, MMMM d @ h:mm a' }}</p>
        <p>{{ note.msg }}</p>
      </li>
    </ul>

    <!-- Add note form -->
    <div class="formWrapper" id="formWrapper">
      <form class="form-horizontal" ng-submit="submitNote()">

        <!-- success msg -->
        <p class="success" id="success">Sticky note saved</p>

        <!-- character count -->
        <p class="noteCharCount" ng-model="noteMessage"><span>Characters Remaining: <strong>{{140 - noteMessage.length}}</strong></span></p>

        <!-- close icon -->
        <p class="closeFormIcon"><a id="closeIcon" ng-click="closeAddNoteForm()"><span class="icon-cancel"></span></a></p>

        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea rows="5" id="noteMessage" maxlength="140" ng-model="noteMessage"></textarea></div>
        </div>

        <!-- title textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Title</label>
          <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Optional Title"/></div>
        </div>

        <!-- submit button -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"><span aria-hidden="true" class="icon-new"></span> {{submitButton}}</button>
            <button type="button" class="btn btn-danger" id="cancelButton" ng-click="closeAddNoteForm()"><span aria-hidden="true" class="icon-cancel"></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Recycle Bin -->
    <div class="recycleBin" id="recycleBin">
      <div class="rbHeadingWrapper">
        <h1>Recycle Bin</h1>
        <p class="closeRecycleBinIconWrapper"><a class="icon-cancel" ng-click="toggleRecycleBin()"></a></p>
      </div>
      <div class="rbContentWrapper">
        <button type="button" class="btn" ng-click="selectAll()" ng-disabled="rbSelect"><span class="icon-checkbox"></span> {{ rbSelectBtn }}</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="permDelNotes()"><span class="icon-trash-skinny"></span> Delete</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="restoreNote()"><span class="icon-restore"></span> Restore</button>
        <hr />
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in recycle track by $index">
              <td><input type="checkbox" ng-model="note.selected" ng-change="setChildBtns()" /> {{ note.date | date:'MMM d' }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.msg }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>














    <!-- Help -->
    </ion-content>
      </ion-view>
      <ion-tabs class="tabs-icon-bottom tabs-positive"  >

      <!-- Dashboard Tab -->
      

      <!-- Add note -->
      <div data-ng-init="closeAddNoteForm()">
      <ion-tab title="ADD notes" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" ng-click="showAddNoteForm()">
      </ion-tab>
      </div>
      <!-- Recycle Bin -->
      <div data-ng-init="toggleRecycleBin()">

      <ion-tab title="Recycle Bin" icon-off="ion-ios-trash-outline" icon-on="ion-ios-trash" ng-click="toggleRecycleBin()"><span class="recycleCount" ng-model="recycle">{{recycle.length}}</span>
      </ion-tab>
      </div>
      <!-- Account Tab -->
    


     


    </ion-tabs>
</ion-nav-view>