      <ion-nav-view>
        <ion-view view-title=""> 
        <ion-nav-bar>
              <ion-nav-back-button class="button-clear">
                <i class="ion-arrow-left-c"></i> Back
              </ion-nav-back-button>
            </ion-nav-bar>
           <ion-content>
            <div ng-repeat="module in contents">
                <div ng-if=(module.id==moduleId) ng-repeat="lo in module.LOS" >
                  <div ng-if=(lo.id==loId) > 
                    <div >
                        <h5>{{lo.content}}</h5>
                    </div>
                  </div>   
                </div>
            </div>
          </ion-content>
       </ion-view>    
     </ion-nav-view>