<ion-view view-title="Chemistery">
  <ion-content class="padding">
  
  
    
<div class="list">
<br/><br/>

  <a class="item item-icon-left" href="#">
   
    List 1
  </a>
  <a class="item item-icon-left" href="#">
   
    List 2
  </a>
  <a class="item item-icon-left" href="#">
   
    List 3
  </a>
  <a class="item item-icon-left" href="#">
   
    List 4
  </a>
  <a class="item item-icon-left" href="#">
   
    List 5
  </a>
  <a class="item item-icon-left" href="#">
   
    List 6
  </a>
  <a class="item item-icon-left" href="#">
   
    List 7
  </a>
  <br/>
<!-- Button (Go to curriculum menu ) -->       
        <div class="list" align="right">
            <a href="http://localhost/ux/Mobile/#/event/curriculum" class= "button button-outline icon-right ion-navicon button-balanced"> Go to Curriculum</a>
        </div>
  

</div>


 </ion-content>
</ion-view>
