 <ion-modal-view class="product edit create" ng-controller= "AccordionloCtrl">
          <form name="itemEdit" novalidate>
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">Cancel</a>
              <h1 class="title">Form</h1>
            </ion-header-bar>
              
              
         
           <ion-content>
               hare krishna
            <div ng-repeat="module in contents">
                <div ng-if=(module.id==moduleId) ng-repeat="lo in module.LOS" >
                  <div ng-if=(lo.id==loId) > 
                    <div >
                        <h5>{{lo.content}}</h5>
                    </div>
                  </div>   
                </div>
            </div>
          </ion-content>
      
          </form>
</ion-modal-view>