<ion-view view-title="goalsmenu">
    <ion-pane>
        <ion-tabs class="tabs-top">

            <!-- Tab 1 -->
            <ion-tab title="reference" ui-sref="eventmenu.goalsmenu.reference" >
                
                <ion-nav-view name="reference">
                    
                    
                    

                </ion-nav-view>
            </ion-tab>

            

            <!-- Tab 2 -->
            <ion-tab title="practice" ui-sref="eventmenu.goalsmenu.practice.qn({qnid:1 , sqno:0})"  >
                <ion-nav-view name="practice">
                   
                  
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>