<ion-view title="menuContent2" >
         <ion-content padding="'true'" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-item href="#/page7/page12">Geometry</ion-item>
            <ion-item>Reading</ion-item>
            <ion-item>Grammer</ion-item>
            <ion-item>Vocab</ion-item>
            <ion-item>Trigonometry</ion-item>
            <ion-item>Organic Chemistry</ion-item>
            <ion-item>Biology</ion-item>
            <ion-item>Sanskrit</ion-item>
        </ion-list>
    </ion-content>
      </ion-view>
