<ion-view view-title="menuContent1">
    <ion-pane>
        <ion-tabs class="tabs-top">

            <!-- Tab 1 -->
            <ion-tab title="Performance" ui-sref="eventmenu.homelist.performance" >
                
                <ion-nav-view name="performance">
                    

                </ion-nav-view>
            </ion-tab>


            <!-- Tab 2 -->
            <ion-tab title="Goals" ui-sref="eventmenu.homelist.goals"  >
                <ion-nav-view name="goals">
                   
                  
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>