  <!--

  <button class="btn btn-lg btn-primary" ng-click="change()"> Register</button>
<!-<a href="#mainpage">Resister </a>

 <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" href="#mainpage"> -
-->




<ion-view view-title="Tabs">
    <ion-pane>
        <ion-tabs class="tabs-top">

            <!-- Tab 1 -->
            <ion-tab title="Tab 1" ui-sref="laplayer.qdn" >
                <ion-nav-view name="tab-tab1">
                    <ion-content>
                        Tab 1 content
                    </ion-content>

                </ion-nav-view>
            </ion-tab>


            <!-- Tab 2 -->
            <ion-tab title="Tab 2" >
                <ion-nav-view name="tab-tab2">
                    <ion-content>
                        
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>
