<ion-view view-title="LAplayer">
    <ion-pane>
        <ion-tabs class="tabs-top">

            <!-- Tab 1 -->
            <ion-tab title="Tab 1" ui-sref="laplayer.tab1.qn" >
                <ion-nav-view name="tab1">
                    

                </ion-nav-view>
            </ion-tab>


            <!-- Tab 2 -->
            <ion-tab title="Tab 2"  >
                <ion-nav-view name="tab2">
                    <ion-content> <p>sdjlgkdfgfdfogndfngndgndfnhdfogndondo</p></ion-content>
                  
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>