<ion-view view-title="Physics">
  <ion-content class="padding">
      
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    
   
    <!-- Button (Go to curriculum menu ) -->       
        <div class="list" align="right">
            <a ui-sref="eventmenu.home.laplayer.tab1.qn({qnid:1 , sqno:0})" class= "button button-outline icon-right ion-navicon button-balanced"> LA Player</a>
        </div>
  </ion-content>
</ion-view>
